script: "bundle exec rake spec"

rvm:
  - 1.9.2
  - 1.9.3
  - ruby-head
  #- rbx-19mode

env:
  - MONGOID_VERSION=2
  - MONGOID_VERSION='~> 3.0.0'

matrix:
  exclude:
    - rvm: 1.9.2
      env: MONGOID_VERSION='~> 3.0.0'

services: mongodb