sudo: false

language: ruby

cache: bundler

services: mongodb

rvm:
  - 2.1.10
  - 2.2.9
  - 2.3.6
  - 2.4.2
  - 2.5.0

env:
  - MONGOID_VERSION=HEAD
  - MONGOID_VERSION=6
  - MONGOID_VERSION=5
  - MONGOID_VERSION=4
  - MONGOID_VERSION=3

before_install:
  - gem update bundler

addons:
  apt:
    sources:
      - mongodb-3.2-precise
    packages:
      - mongodb-org-server

matrix:
  fast_finish: true
  allow_failures:
    - env: MONGOID_VERSION=HEAD
  exclude:
    - MONGOID_VERSION=HEAD
      rvm: 2.1.10
    - MONGOID_VERSION=6
      rvm: 2.1.10
    - MONGOID_VERSION=5
      rvm: 2.1.10
  include:
    env:
      - MONGOID_VERSION=6
    before_script:
      - bundle exec danger
