rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0
  - 2.1.1
  - rbx

env:
  - MONGOID_VERSION=2
  - MONGOID_VERSION=3
  - MONGOID_VERSION=4

matrix:
  exclude:
    - rvm: 1.8.7
      env: MONGOID_VERSION=3
    - rvm: 1.8.7
      env: MONGOID_VERSION=4

services: mongodb
